doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title Many time
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap") 
        link(rel="stylesheet" href="./css/reset.css")
        link(rel="stylesheet" href="./css/index.css")
    body
        header.header
            .content
                nav.nav
                    .navLeft
                        .mainNav
                            a.logo
                                img(src="./images/logo.png" alt="Many time" style="width: 50px")
                            a(href="#") Home
                            a(href="#") Pricing 
                            a(href="#") Events
                            a(href="#") Contacts
                    .navRight
                        button.buttonWhite Get Started
        .content
            section
                .hgroup
                    h2 A life time experience 
                    h1 Norway Time<br/>To Remember
                button.colorButton
                    | Explore locations
                .parallax
                    img(src="./images/01.png" alt="Layer 1" data-depth="0")
                    img(src="./images/02.png" alt="Layer 2" data-depth="0.2")
                    img(src="./images/03.png" alt="Layer 3" data-depth="0.4")
                    img(src="./images/04.png" alt="Layer 4" data-depth="0.6")

        script(src="/src/js/index.js")
        
            



